*
 box-sizing: border-box

=clearfix
 &:after
  content: "" 
  visibility: hidden
  display: block
  height: 0
  clear: both

.row
 +clearfix 

.column_1of2
 background: orange
 width: 50%
 float: left

 &:nth-child(2n)
  background: red  

.column_1of3
 background: orange
 width: (100% /3 )
 float: left

 &:nth-child(2n)
  background: red

.column_1of4
 background: orange
 width: (100%/4)
 float: left

 &:nth-child(2n)
  background: red

p,span
 background: red

 &.width300
  width: 300px

.dib
 display: inline-block

.main-navigation
 ul
  list-style: none
 li
  display: inline-block

.equalizer
 display: table
 background : orange
 border : 1px solid black
 border-spacing: 1px

.equalized
 display: table-cell
 background: hsl(175, 99%, 95%)

.top10minus
 position: relative
 top: -10px      

.relative
 display: inline-block
 width: 200px
 height: 200px
 background: hsl(285, 95%, 65%)
 position: relative

.absolute
 width: 40px
 height: 40px
 background: hsl(105, 95%, 65%)

 position: absolute
 z-index: 1

.ab2
 background: hsl(30, 95%, 75%)
 width: 60px
 height: 60px

.fixed
 position: fixed
 text-align: center
 top: 0
 left: 0
 height: 100px
 width: 100%
 background: hsl(263, 55%, 85%)

body
 padding-top: 100px 

.relativeblock1
 position: relative
 width: 200px
 height: 80px
 background: hsl(70, 55%, 85%)
 z-index: 50

.absoluteblock1
 position: absolute
 left: 10px
 top: 70px
 width: 40px
 height: 40px
 background: hsl(360, 50%, 55%)
 z-index: 1

.relativeblock2
 position: static
 width: 200px
 height: 80px 
 background: hsl(190, 55%, 85%)
 z-index: 99

article
 position: relative
 padding: 10px
  left: 220px
 height: 220px
 background: hsl(360, 85%, 35%)

 .imageclass
  position: absolute
  left: 10px
  top: 10px
  background: #000
  width: 200px
  height: 200px

 .contentclass
  margin: 10px
  width: 100%  

img 
 max-width: 100%
  