//@import "compass"
//@import "newsprite/*.png"
//@include all-newsprite-sprites(true)

@import "compass/utilities/sprites"
$circles: sprite-map("newsprite/*.png", $spacing: 20px, $layout: diagonal)

.element-circle-blue
 background-image: sprite-url($circles)
 background-position: sprite-position($circles, circle-blue)
 @include sprite-dimensions($circles, circle-blue)

*
 box-sizing: border-box

=clearfix
 &:after
  content: "" 
  visibility: hidden
  display: block
  height: 0
  clear: both

.clearfix
 +clearfix

=colorplaceholder
 &:-ms-input-placeholder,
 &:-moz-placeholder,
 &::-webkit-input-placeholder
  color: red

=rectangle($w, $h, $c)
 width: $w
 height: $h
 background: $c


=circle($r, $c)
 width: $r
 height: $r
 border-radius: 50%
 background: $c

=ring($size, $color, $borderwidth)
 width: $size
 height: $size
 background: none
 border-radius: 50%
 border: solid $color $borderwidth


=triangleup($width, $height, $color)
 width: 0
 height: 0
 border-width: 0 $height/2 $width $height/2
 border-color: transparent transparent $color transparent
 border-style: solid

=triangledown($width, $height, $color)
 width: 0
 height: 0
 border-width: $width $height/2 0 $height/2
 border-color: $color transparent transparent transparent
 border-style: solid

=triangleleft($width, $height, $color)
 width: 0
 height: 0
 border-width: $height/2 $width $height/2 0
 border-color: transparent $color transparent transparent
 border-style: solid

=triangleright($width, $height, $color)
 width: 0
 height: 0
 border-width: $height/2 0 $height/2 $width
 border-color: transparent transparent transparent $color
 border-style: solid

=displayFlex
 display: -webkit-box
 display: -moz-box
 display: -ms-flexbox
 display: -webkit-flex
 display: flex

=flexOrder($number)
 -webkit-box-ordinal-group: $number
 -moz-box-ordinal-group: $number
 -ms-flex-order: $number
 -webkit-order: $number
 order: $number

=animationAll($time)
 -webkit-transition: all $time ease-in-out
 -moz-transition: all $time ease-in-out
 -o-transition: all $time ease-in-out
 transition: all $time ease-in-out

=grid($column, $divider)
 width: percentage($column/$divider)

=push($column, $divider) 
 margin-left: percentage($column/$divider)

=menuMultilevel
 list-style: none
 padding: 0

 & > li
  float: left
  display: inline-block
  margin-right: 10px
  position: relative

  & > ul
   display: none
   list-style: none
   padding: 0


  &:hover
   ul
    display: block
    position: absolute
    left: 0 

=customButton($bc, $bw, $br, $bs)
 border:
  color: $bc
  width: $bw
  radius: $br
  style: $bs    

=centerText
 +displayFlex
 align-items: center
 justify-content: center


$imageRoot: "../img"


.row
 +clearfix 

.column_1of2
 background: orange
 width: 50%
 float: left

 &:nth-child(2n)
  background: red  

.column_1of3
 background: orange
 width: (100% /3 )
 float: left

 &:nth-child(2n)
  background: red

.column_1of4
 background: orange
 width: (100%/4)
 float: left

 &:nth-child(2n)
  background: red

p,span
 background: red

 &.width300
  width: 300px

.dib
 display: inline-block

.main-navigation
 ul
  list-style: none
 li
  display: inline-block

.equalizer
 display: table
 background : orange
 border : 1px solid black
 border-spacing: 1px

.equalized
 display: table-cell
 background: hsl(175, 99%, 95%)

.top10minus
 position: relative
 top: -10px      

.relative
 display: inline-block
 width: 200px
 height: 200px
 background: hsl(285, 95%, 65%)
 position: relative

.absolute
 width: 40px
 height: 40px
 background: hsl(105, 95%, 65%)

 position: absolute
 z-index: 1

.ab2
 background: hsl(30, 95%, 75%)
 width: 60px
 height: 60px

.fixed
 position: fixed
 text-align: center
 top: 0
 left: 0
 height: 100px
 width: 100%
 background: hsl(263, 55%, 85%)

html,
body
 padding-top: 100px 
 min-height: 100%
 height: 100%

.relativeblock1
 position: relative
 width: 200px
 height: 80px
 background: hsl(70, 55%, 85%)
 z-index: 50

.absoluteblock1
 position: absolute
 left: 10px
 top: 70px
 width: 40px
 height: 40px
 background: hsl(360, 50%, 55%)
 z-index: 1

.relativeblock2
 position: static
 width: 200px
 height: 80px 
 background: hsl(190, 55%, 85%)
 z-index: 99

article
 position: relative
 padding: 10px
  left: 220px
 height: 220px
 background: hsl(360, 85%, 35%)
 margin: 30px

 .imageclass
  position: absolute
  left: 10px
  top: 10px
  background: #000
  width: 200px
  height: 200px

 .contentclass
  margin: 10px
  width: 100%  

img 
 max-width: 100%

a
 color: hsl(30, 80%, 25% ) 
 background: hsla( 250, 80%, 65%, 0.8)
 
 &:hover
  color: hsl(250, 80%, 65%) 
  background: hsl(180, 80%, 65%)

ul.ulp1,
ul.ulp1 ul
 +clearfix
 list-style: none
 padding: 0
 
 >li
  position: relative
  display: block
  margin-right: 10px
  &:hover ul
   display: block 
   width: 200px
   

 ul
  display: none
  // if we use absolute porp , we might overide the content below because it seems donnot exist to other dom obj	
 // position: absolute  
 // left : 0 

ul.ulp1 > li
 float: left  
 display: inline-block
 border : solid blue 1px

ul
 border : red 1px solid

tbody
 tr:nth-child(2n)
  background: #d3d3d3 
 td:nth-last-child(2n+1)
  background: hsl(245, 85%, 65%) 

ul.boxp
 +clearfix
 list-style: none

ul.boxp
 li
  width: 100px
  height: 100px
  float: left
  margin-left: 10px
  border : dashed 1px hsl(67, 55%, 55%)
  background:  hsl(300, 25%, 65%)

  &:empty
   background: hsl(65, 25%, 65%) 

.simple_validate
 padding: 10px
 width: 400px

 &:valid
  background: lightblue

 &:invalid
  background: lightcoral 

 label
  display: inline-block
  &:before
   content: 'Not ' 

 input
  display: block
  margin: 10px 0
  width: 100%

  &:valid
   border: 3px solid green

  &:invalid
   border: 3px solid red  

  &:focus
   background: orange
   color: red
   border: 3px solid orange

  &[type="checkbox"] 
   display: inline-block
   width: 20px  //set width to be adjustable

   &:checked
    & + label
     color: red

     &:before
      content: 'Is '

  +colorplaceholder   


.retangle50
 +rectangle(40px, 40px, hsl(370, 55%, 45%))

.circle50
 +circle(50px, hsl(120, 55%, 45%))

.triangle
 +clearfix
 .triangleup
  +triangleup(20px, 20px, hsl(125, 55%, 45%))
 .triangledown
  +triangledown(20px, 20px, hsl(125, 55%, 45%))
 .triangleleft
  +triangleleft(20px, 20px, hsl(125, 55%, 45%))
 .triangleright
  +triangleright(20px, 20px, hsl(125, 55%, 45%))  
 
 & > div
  float: left
  margin-left: 5px

a.beforeafter
 border: 1px solid hsl(1, 0, 0 )

 &:before
  content: 'before'
  color: hsl(300, 55%, 45%)

 &:after
  content: 'after' 
  color: hsl(180, 55%, 45%)

a.btnup

 display: inline-block
 border: 1px solid hsl(1, 0, 0) 
  radius : 5px
 padding: 10px 40px 10px 10px
 position: relative
 text-decoration: none
 color : hsl (150, 55%, 45%)
  
 &:after
  display: block
  position: absolute
  right: 10px
  top: 50%
  content: ''  
  +triangleup(10px, 20px, hsl(175, 55%, 45%))
  margin-top : -10px

p.firstleline
 &:first-letter
  color: hsl(355, 55%, 35%)  
  font:
   weight: bold
   size: 50px

 &:first-line
  color: hsl(123, 55%, 45%)  

::selection,
::-moz-selection  
 background: hsl(239, 55%, 65%)
 color: hsl(355, 55%, 35%)

//rwd
.mobile_on,
.tablet_only,
.desktop_only,
.mobile_and_tablelet,
.tableet_and_desktop
 display: none

// mobile
@media screen and (max-width: 400px)
 body
  background: red

 .mobile_on
  display: block

// mobiel and tableet  
@media screen and (max-width: 700px)
 .mobile_and_tablelet
  display: block

// tablet only
@media screen and (min-width: 401px) and (max-width: 700px)  
 body
  background: hsl(333, 45%, 55%)

 .tablet_only
  display: block

// tablet and desktop
@media screen and (min-width: 401px) 
 .tableet_and_desktop
  display: block

// desktop only
@media screen and (min-width: 701px)  
 .desktop_only
  display: block

@mixin mq($display, $breakpoint) 
 @media #{$display} and #{$breakpoint}
  @content

$mq_small_only: "(max-width: 480px)"

.floatnavigation
 ul
  +clearfix
  list-style: none
  padding: 0
  background: transparent
  border:
   bottom: 10px solid hsl(120, 45%, 45%)

 li
  float: left
  display: block
 a
  padding: 10px
  display: block // if you don't set to block, you may get the unpredictable result while you also can adjust the width prop
  width: 100%
  background:    hsl(75, 45%, 65%)
  text-decoration: none
  color: hsl(120, 45%, 45%)

  &:hover
   background: hsl(120, 45%, 45%)
   color: hsl(75, 45%, 65%)




+mq("screen", $mq_small_only)
 .floatnavigation
  ul
   list-style: none
   border: none

  li
   float: none
   width: 100%

  a
   border:
    bottom: 1px solid hsl(123, 45%, 35%)  

.bkimg
 width: 1000px
 height: 500px
 border: 3px solid hsl(360, 95%, 35%)
 background:
  image: url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg), url(#{$imageRoot}/borderedcircle.jpg)
  repeat: no-repeat
  position: left top, center top, right top, left center, center center, right center, left bottom, center bottom, right bottom
  size: 50px auto, auto auto, auto auto, 100px auto, 200px auto, auto auto, auto auto, 50px auto, 75px auto    
  

.formc
 width: 300px
 input
  width: 100%
  margin:
   bottom: 5px

 input[type="text"]    
  border: 2px solid hsl(240, 45%, 35%)

 input[type="password"] 
  border: 2px solid hsl(120, 45%, 35%)

 input[type="submit"] 
  color: hsl(0, 100%, 100%)
  background: hsl(0, 0%, 0%)

.loginWrapper,
.passwordWrapper,
.submitWrapper
 position: relative

 &:after
  content: ''  
  display: inline-block
  position: absolute
  right: 10px
  top: 50%
  box-sizing: border-box

.loginWrapper,
.passwordWrapper
 &:after
  transform: translate(0, -50%)
  margin-top: -2.5px //important, because input hava margin-bottom 5px , needed to be divided by 2
  +ring(10px, #000, 2px)

.submitWrapper
 &:after
  box-sizing: border-box
  transform: translate(0, -50%)
  margin-top: -2.5px
  +triangleright(8px, 8px, #fff)

fieldset
 margin-bottom: 20px
 width: auto
 border: 2px dotted hsl(123, 45%, 45%) 

.filedKeeper
 margin-bottom: 1%
 position: relative

 label
  position: absolute
  width: 150px
  left: 0px  
 .inputKeeper
  width: 30%
  margin-left: 200px

 & ~ textarea
  resize : none
  width : 40%
  height: 40%
  border: 2px solid hsl(256, 45%, 45%)


.selectWrapper
 width : 300px
 border : 2px solid hsl(128, 45%, 45%)
 overflow: hidden
 position: relative

 &:after
  +triangledown(8px, 6px, hsl(315, 45%, 45%))
  content: ''
  position: absolute
  right: 5px
  margin-top: -2px  // -8/2(trangledown height)  +  2(container border)
  top : 50%

 select
  width: 105%

p.containerp
 background : hsl(65, 45%, 45%)
 text-align: center

.containerdiv
 background: hsl(0, 100%, 0%)
 position : relative
 height: 150px
 
 .elementdiv
  width: 100px
  height: 100px
  background: hsl(360, 100%, 45%)
  position: absolute
  left : 50%
  top : 50%
  //margin-top: -50px  //bad idea , it's static value
  //margin-left: -50px  //bad idea , it's static value
  transform: translate(-50%, -50%)

.hech7,
.mach7,
.fooch7
 text-align: center
 padding: 50px

.hech7,
.fooch7
 background: hsl(10, 45%, 45%)

.mach7
 background: hsl(118, 45%, 45%)

.window_container
 display: none
 position: fixed
 left: 0
 top : 0
 width: 100%
 height: 100%
 background: hsla(0, 45% , 0%, 0.5)
 

 .window_elediv
  position : absolute
  left: 50%
  top : 50%
  transform : translate(-50%, -50%)

  background: hsl(0, 45%, 100%)
  width: 200px
  height: 200px

.flexContainer
 margin-top: 40px
 +displayFlex
 background: hsl(170, 55%, 35%)
 //height: 100%
 align-items: baseline
 align-content: space-around
 flex-wrap: wrap
 justify-content: space-between
 flex-direction: column

 .blue
  background: hsl(240, 55%, 45%)
 .green
  background: hsl(120, 55%, 45%)
 .yellow
  background: hsl(60, 55%, 45%)

 .h300
  height: 300px
  font-size: 8px
 .h200
  height: 200px
  font-size: 20px
 .h100
  height: 100px   
  font-size: 30px
  margin-top: 20px 

.w100
 width: 100px  


.flexcontainer2
 +displayFlex
 flex-flow: row wrap
 

 & > *
  padding: 10px
  flex: 1 1 100%

 header
  background: hsl(5, 75%, 45% ) 

 footer
  background: hsl(242, 65%, 75%) 

 main
  background: hsl(61, 75%, 55%) 
  flex: 3 1 auto
 aside
  background: hsl(125, 65%, 55%) 
  flex: 0 0 auto

.flexcontainer3
 margin-top: 30px
 +displayFlex
 

 & > *
  padding: 20px

 .firstfl
  background: hsl(135, 65%, 65%)
  +flexOrder(1)
 
 .secondfl 
  background: hsl(310, 65%, 65%)
  +flexOrder(2)

@media screen and (max-width: 600px)  
 .flexcontainer3
  flex-flow: row wrap
  & > *
   flex: 1 1 100%
  .firstfl
   +flexOrder(2)
  .secondfl
   +flexOrder(1)

.containerclac
 margin-top: 30px
 +clearfix

 & > *
  float: left
  height: 100px
  padding: 10px

 .firstcla
  width: 100px
  background: hsl(65, 65%, 85%)

 
 .secondcla     
  width: calc(100% - 100px)
  background: hsl(245, 65%, 85%)

.radialgradient
 div[class^="gradient"]
  height: 100px
  width: 100px
  margin-bottom: 20px
 td:nth-child(n + 1)
  background: transparent 

 .gradient-04
  background: radial-gradient(closest-side at 50% 50%, red black)   
 .gradient-05
  background: radial-gradient(closest-side at 10% 10%, red black)  
 .gradient-06
  background: radial-gradient(closest-side at 50% 10%, red black) 
 .gradient-07
  background: radial-gradient(closest-corner at 50% 50%, red black) 
 .gradient-08
  background: radial-gradient(closest-corner at 10% 10%, red black)  

.container_shadow
 +displayFlex
 flex-flow: row wrap
 align-items: stretch
 align-content: space-around
 justify-content: space-around

 width: 500px
 height: 500px

 .container_shadow_box
  width: 150px
  height: 150px

  & > *
   +animationAll(1s)
   height: 100%
   font-family: 'Russo One', sans-serif

  &:nth-child(2n+1)
   background: hsl(66, 74%, 75%)
  &:nth-child(2n+2)
   background: hsl(266, 74%, 75%)

 .bottom_right:hover
  box-shadow: 5px 5px 6px 0 #000


 .bottom_left:hover
  box-shadow: -5px 5px 6px 0 #000

 .top_right:hover
  box-shadow: 5px -5px 6px 0 #000

 .top_left:hover
  box-shadow: -5px -5px 6px 0 #000  

 .inset_bottom_left:hover
  box-shadow: inset 5px -5px 6px 0 #000


@keyframes roll_in
 from
  margin-left: 100%
  opacity: 0.3


 to
  margin-left: 0%
  opacity: 1

.aniContainer  
 width: 600px
 border: 1px

 .rollin
  width: 100px
  height: 100px
  background: hsl(345, 85%, 35%)

  animation:
   duration: 2s
   name: roll_in
   delay: 1s
   iteration-count: 2
   fill-mode: both

.showHover
 height: 30px
 width: 130px

 word-break: keep-all
 white-space: nowrap
 border: 1px solid hsl(135, 45%, 55%)
 margin-bottom: 10px
 margin-top: 30px
 background: hsl(240, 75%, 85%) 

 +displayFlex
 align-items: center
 justify-content: center

 &:horver

.bold_list_fix
 @extend .clearfix
 li,a
  +animationAll(200ms)
  display: inline-block
  text-align: center
 
 a:hover
  font-weight: bold

 a::after
  display: block
  content: attr(data-alt) 
  font-weight: bold
  height: 1px
  color: transparent
  overflow: hidden
  visibility: hidden 

.testExtend
 @extend .showHover  

.gird70f12
 +grid(7, 12)
 background: hsl(255, 85%, 75%)

.gird70f12Con
 width: 120px
 background: hsl(66, 85%, 75%)

.menu-multilevel
 +clearfix
 +menuMultilevel

.specialBtn
 +centerText
 +customButton(hsl(0, 0%, 35%), 10px 6px, 10px 60px, dashed)
 width: 400px
 height: 100px
